/* Estilos existentes */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background: linear-gradient(to right, #2e2e2e, #0e0d0e);
}

header {
    background: linear-gradient(to right, #ff8c6b, #ef74e8);
    color: white;
    text-align: center;
    padding: 20px 10px;
}

.logo-container {
    margin: 0 auto 20px;
    width: 300px; /* Ajusta este valor seg煤n el tama帽o deseado */
}

.logo-container img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: -50px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: #2e2e2e; /* fondo oscuro */
    color: white;
}

/* Estilos para la secci贸n de texto de bienvenida */
.hero {
    background-color: #2e2e2e;
    padding: 40px 0;
    text-align: center;
    color: white;
}

.hero-text {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
}

/*Estilos del carrusel*/
.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll

    /* Vamos a a帽adir esto  */
    scroll-snap-type: x mandatory;
  }

  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;

    /* Vamos a a帽adir esto  */
    scroll-snap-align: center;
  }

/* Estilos generales para el contenedor del dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2e2e2e;
}

/* Estilos para los botones del dashboard */
.dashboard-button {
    display: inline-block;
    background: linear-gradient(to right, #ff8c6b 0%, #ef74e8 100%);
    border: 1px solid white; /* Borde fino blanco */
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    margin: 10px; /* Espaciado entre botones */
}

.dashboard-button:hover {
    background: linear-gradient(to right, #ef74e8 0%, #ff8c6b 100%);
    box-shadow: 0 0 4px 2px white; /* Resplandor exterior blanco al pasar el rat贸n */
}

.dashboard-button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.dashboard-button:active {
    transform: translateY(2px);
}

/* Estilos espec铆ficos para los contenedores de eventos */
.event {
    background-color: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #ef74e8;
}

.event p {
    font-size: 1em;
    color: #ccc;
}



button {
    background: linear-gradient(to right, #ff8c6b 0%, #ef74e8 100%);
    border: 1px solid white; /* Borde fino blanco */
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    margin: 10px;
}

button:hover {
    background: linear-gradient(to right, #ef74e8 0%, #ff8c6b 100%);
    box-shadow: 0 0 4px 2px white; /* Resplandor exterior blanco al pasar el rat贸n */
}

button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

button:active {
    transform: translateY(2px);
}

.details-btn {
    background: linear-gradient(to right, #ff8c6b 0%, #ef74e8 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    margin-top: 10px;
}

.details-btn:hover {
    background: linear-gradient(to right, #ef74e8 0%, #ff8c6b 100%);
    box-shadow: 0 0 4px 2px white; /* Resplandor exterior blanco al pasar el rat贸n */
}

.details-btn:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.details-btn:active {
    transform: translateY(2px);
}

.spotify-section {
    width: 100%;
    padding: 40px 0;
    margin-bottom: 100px;
    background: linear-gradient(to right, #3a3a3a, #161616); /* Fondo de la secci贸n */
    text-align: center;
}

/* Estilos del formulario de login */
main.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    background-color: #211f22;
}

main.login-form form {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

main.login-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ff8c6b;
}

main.login-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
}

main.login-form input[type="email"],
main.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

main.login-form button {
    background: linear-gradient(to right, #ff8c6b 0%, #ef74e8 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

main.login-form button:hover {
    background: linear-gradient(to right, #ef74e8 0%, #ff8c6b 100%);
    box-shadow: 0 0 4px 2px white;
}

main.login-form button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

main.login-form button:active {
    transform: translateY(2px);
}

/* Estilos del enlace de registro */
main.login-form .register-link {
    margin-top: 20px;
    text-align: center;
}

main.login-form .register-link p {
    font-size: 1em;
    color: white;
}

main.login-form .register-link a {
    color: #ff8c6b;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

main.login-form .register-link a:hover {
    color: #ef74e8;
    text-decoration: underline;
}

/* Estilos del mensaje de error */
.error-message {
    color: #ff6b6b;
    background-color: #ffebeb;
    border: 1px solid #ff6b6b;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Estilos del formulario de registro */
main.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    background-color: #211f22;
}

main.register-form form {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

main.register-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ff8c6b;
}

main.register-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
}

main.register-form input[type="text"],
main.register-form input[type="email"],
main.register-form input[type="password"],
main.register-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #2e2e2e; /* Fondo oscuro */
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo para el selector de rol */
main.register-form select {
    background: linear-gradient(to right, #ff8c6b 0%, #ef74e8 100%);
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

main.register-form button {
    background: linear-gradient(to right, #ff8c6b 0%, #ef74e8 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

main.register-form button:hover {
    background: linear-gradient(to right, #ef74e8 0%, #ff8c6b 100%);
    box-shadow: 0 0 4px 2px white;
}

main.register-form button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

main.register-form button:active {
    transform: translateY(2px);
}

/* Estilos del enlace de iniciar sesi贸n */
main.register-form .login-link {
    margin-top: 20px;
    text-align: center;
}

main.register-form .login-link p {
    font-size: 1em;
    color: white;
}

main.register-form .login-link a {
    color: #ff8c6b;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

main.register-form .login-link a:hover {
    color: #ef74e8;
    text-decoration: underline;
}

footer {
    background-color: #0e0d0e;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: auto;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 5px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-section a:hover {
    color: #ff8c6b;
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

/* Additional Styling for Profile Page */
main.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    background-color: #211f22;
}

main.profile-form form {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

main.profile-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ff8c6b;
}

main.profile-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
}

main.profile-form input[type="text"],
main.profile-form input[type="email"],
main.profile-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

main.profile-form button {
    background: linear-gradient(to right, #ff8c6b 0%, #ef74e8 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

main.profile-form button:hover {
    background: linear-gradient(to right, #ef74e8 0%, #ff8c6b 100%);
    box-shadow: 0 0 4px 2px white;
}

main.profile-form button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

main.profile-form button:active {
    transform: translateY(2px);
}

/* Estilos para la vista de crear evento */

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    background-color: #211f22;
    color: white;
}

.profile-form form {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.profile-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ff8c6b;
}

.profile-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: white;
}

.profile-form input[type="text"],
.profile-form input[type="datetime-local"],
.profile-form input[type="number"],
.profile-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #2e2e2e;
    color: white;
}

.profile-form textarea {
    resize: vertical;
    min-height: 100px;
}

.profile-form button {
    background: linear-gradient(to right, #ff8c6b 0%, #ef74e8 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

.profile-form button:hover {
    background: linear-gradient(to right, #ef74e8 0%, #ff8c6b 100%);
    box-shadow: 0 0 4px 2px white;
}

.profile-form button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.profile-form button:active {
    transform: translateY(2px);
}

/* Estilos para la secci贸n de flyers */
.flyers-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flyer {
    margin: 0 10px;
    max-width: 30%;
}

.flyer img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

